html {
  font-size: 16px;
  font-family: Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(252, 210, 50);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.banner {
  position: relative;
  height: 60vh;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.bg-video .bg-video-content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.heading-primary .heading-primary-left,
.heading-primary .heading-primary-right {
  display: block;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
.heading-primary .heading-primary-left {
  animation: moveInLeft 1s ease;
}
.heading-primary .heading-primary-right {
  animation: moveInRight 1s ease;
}

@media (min-width: 600px) {
  .heading-primary .heading-primary-left,
  .heading-primary .heading-primary-right {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.2rem;
  }
}
@media (min-width: 769px) {
  .heading-primary .heading-primary-left,
  .heading-primary .heading-primary-right {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.55rem;
  }
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(48, 47, 56);
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.filter p {
  margin-bottom: 0;
  flex-basis: 85%;
  color: #ffffff;
  font-weight: bold;
}
.filter i {
  color: rgb(48, 47, 56);
  font-size: 2rem;
  transition: all 0.2s ease;
  flex-basis: 15%;
  text-align: right;
}

.filter.active {
  background-color: rgb(233, 16, 9);
}

input[type=checkbox] {
  display: none;
}

.container {
  padding: 2rem 1.5rem;
}
.container h2 {
  margin-bottom: 2rem;
  color: rgb(48, 47, 56);
  font-size: 2rem;
}
.container .card {
  display: none;
}
.container .card.show {
  display: none;
}
.container .card.show.mobile {
  display: block;
}
.container .card:not(:last-child) {
  margin-bottom: 20px;
}
.container .card-inner {
  display: block;
  color: rgb(48, 47, 56);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 3px 8px 2px rgba(30, 30, 30, 0.3);
  transition: all 0.3s ease;
}
.container .card-inner:hover {
  transform: scale(1.03);
  box-shadow: 1px 5px 10px 1px rgba(30, 30, 30, 0.2);
}
.container .card-content {
  padding: 1rem 1rem;
}
.container .badge {
  display: inline-block;
  background-color: rgb(252, 210, 50);
  margin-bottom: 1em;
  padding: 0.3em 0.5em;
  font-weight: bold;
  font-size: 0.9rem;
}
.container .card-header {
  width: 75%;
}
.container .card-header h3 {
  margin-bottom: 0.8em;
}
.container .card-body {
  width: 80%;
}
.container .card-footer {
  text-align: right;
  width: 100%;
}
.container .card-footer p {
  text-align: left;
  font-weight: 900;
  font-size: 0.8rem;
}
.container img {
  width: 100%;
}
.container span.btn {
  display: inline-block;
  background-color: rgb(233, 16, 9);
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #ffffff;
  font-weight: 600;
  margin: 0.5em 0;
  transition: all 0.2s ease;
  border: 2px solid rgb(233, 16, 9);
}
.container button.btn.show {
  display: inline-block;
  background-color: rgb(233, 16, 9);
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #ffffff;
  font-weight: 600;
  margin: 0.5em 0;
  transition: all 0.2s ease;
  border: 2px solid rgb(233, 16, 9);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.container button.btn {
  display: none;
  font-size: 1rem;
}
.container button.btn:hover {
  background-color: rgb(48, 47, 56);
  border-color: rgb(48, 47, 56);
}

@media (min-width: 600px) {
  .container h2 {
    text-align: center;
  }
  .container .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .container .card {
    flex: 0 1 50%;
  }
  .container .card.show {
    display: block;
  }
  .container .card-inner {
    margin: 0 10px;
  }
  .container .card-header {
    width: 90%;
  }
  .container .card-body {
    width: 100%;
  }
  .container button.loadmore {
    display: none;
  }
  .container button.loadmore.show {
    display: none;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .container .card {
    flex-basis: 33.3333%;
  }
  .form-header {
    margin: 7rem 0 3rem;
  }
  .form-wrapper {
    padding: 4rem 0;
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 2256px) {
  .container {
    width: 60%;
  }
}
.form-header {
  margin: 6rem 0 3rem;
}
.form-header h1 {
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
  color: rgb(48, 47, 56);
}

.form-wrapper {
  padding: 0 1.5rem;
}
.form-wrapper form {
  color: rgb(48, 47, 56);
  /* Style the arrow inside the select element: */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
.form-wrapper form .form-group {
  margin-bottom: 1rem;
}
.form-wrapper form label,
.form-wrapper form input {
  display: block;
}
.form-wrapper form label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
.form-wrapper form input {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 1.2rem;
}
.form-wrapper form input[placeholder] {
  font-style: italic;
}
.form-wrapper form input[type=submit] {
  color: #ffffff;
  background-color: rgb(235, 59, 59);
  border: none;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 1;
}
.form-wrapper form .custom-select {
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 15rem;
}
.form-wrapper form .custom-select select {
  display: none; /*hide original SELECT element: */
}
.form-wrapper form .select-selected {
  background-color: #ffffff;
}
.form-wrapper form .select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 5px;
  height: 5px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  transform: rotate(45deg);
}
.form-wrapper form .select-items div,
.form-wrapper form .select-selected {
  color: #000000;
  padding: 16px 16px;
  border: 1px solid #000000;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 5px;
}
.form-wrapper form .select-items {
  position: absolute;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ffffff;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
}
.form-wrapper form .select-hide {
  display: none;
}
.form-wrapper form .select-items div:hover,
.form-wrapper form .same-as-selected {
  background-color: rgba(0, 0, 0, 0.03);
}
.form-wrapper form .error {
  margin-bottom: 0.3rem;
  color: rgb(235, 59, 59);
  display: none;
  font-style: italic;
  font-size: 0.8rem;
}
.form-wrapper form .error.show {
  display: block;
}

@media (min-width: 600px) {
  .form-wrapper {
    padding-top: 5rem;
  }
  .form-wrapper form {
    display: flex;
    flex-wrap: wrap;
  }
  .form-wrapper form .form-group {
    flex: 0 1 50%;
    padding: 1em;
    margin-bottom: 0;
  }
  .form-wrapper form input[type=submit] {
    margin-top: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .form-header h1 {
    font-size: 4rem;
    margin: 4rem 0 4rem;
  }
  .form-wrapper {
    width: 80%;
  }
}
@media (min-width: 1440px) {
  .form-wrapper {
    width: 70%;
  }
}
nav {
  background-color: rgb(252, 210, 50);
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 8px 2px rgba(30, 30, 30, 0.3);
}
nav .brand-logo {
  display: block;
  width: 50px;
}
nav .brand-logo .logo-text {
  font-size: 8px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}
nav .navbar-toggle {
  padding: 5px 0;
  background-color: transparent;
  border: none;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav .navbar-toggle .bar {
  display: block;
  background-color: rgb(48, 47, 56);
  height: 6px;
  border-radius: 3px;
}
nav .navbar-toggle .bar:not(:last-child) {
  margin-bottom: 5px;
}
nav .navbar-toggle .top {
  width: 100%;
}
nav .navbar-toggle .middle {
  width: 75%;
}
nav .navbar-toggle .bottom {
  width: 50%;
}
nav .menu-wrapper {
  visibility: hidden;
  background-color: rgb(48, 47, 56);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  transition: all 0.3s linear;
  -webkit-clip-path: circle(100px at 100% -20%);
          clip-path: circle(100px at 100% -20%);
  z-index: 999;
}
nav .menu-wrapper.open {
  visibility: visible;
  -webkit-clip-path: circle(2100px at 90% -10%);
          clip-path: circle(2100px at 90% -10%);
}
nav .menu {
  padding: 0 1.4em;
}
nav .close-btn {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0.3em;
  justify-content: center;
  align-items: center;
  margin: 0.4em 0.5em 4em auto;
}
nav .close-btn .bar {
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  display: block;
  border-radius: 3px;
}
nav .close-btn .bar.one {
  transform: rotate(45deg);
}
nav .close-btn .bar.two {
  transform: rotate(-90deg);
}
nav .nav-item {
  padding: 0.5em 0;
}
nav .nav-link {
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5em 0;
  position: relative;
}
nav .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transition: all 0.3s ease;
}
nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}
nav .nav-btn {
  display: inline-block;
  background-color: rgb(233, 16, 9);
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #ffffff;
  font-weight: 600;
  margin: 0.5em 0;
  transition: all 0.2s ease;
  border: 2px solid rgb(233, 16, 9);
}
nav .nav-btn:hover {
  background-color: transparent;
}

@media (min-width: 600px) {
  .menu-wrapper {
    text-align: right;
  }
  .filters {
    display: flex;
  }
  .filters .filter {
    flex-basis: 33.3333%;
  }
}
@media (min-width: 1024px) {
  nav {
    font-size: 15px;
    padding: 1.5em 2.5em 1.5em 3em;
  }
  nav .brand-logo {
    width: 60px;
    margin-right: 1.5em;
  }
  nav .menu-wrapper {
    position: static;
    visibility: visible;
    height: auto;
    -webkit-clip-path: none;
            clip-path: none;
    width: auto;
    background-color: transparent;
    text-align: left;
  }
  nav .navbar-toggle {
    display: none;
  }
  nav .close-btn {
    display: none;
  }
  nav .nav-link {
    color: rgb(48, 47, 56);
    padding: 0;
  }
  nav .nav-link::after {
    background-color: rgb(48, 47, 56);
  }
  nav .nav-item {
    padding: 0;
  }
  nav .nav-link::after {
    bottom: -7px;
  }
  nav .nav-btn {
    font-weight: bold;
    margin-left: 1em;
    margin: 0;
  }
  nav .nav-btn:hover {
    color: rgb(48, 47, 56);
  }
  nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  nav .menu .nav-item:not(:last-child) {
    margin-right: 1.5em;
  }
  nav .menu .nav-item:last-child {
    margin-left: 1.5em;
  }
}
@media (min-width: 1200px) {
  nav .menu {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  nav {
    font-size: 16px;
  }
  nav .menu .nav-item:not(:last-child) {
    margin-right: 2em;
  }
}
footer {
  background-color: rgb(48, 47, 56);
  color: #ffffff;
  padding: 1em;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */