@use "../abstracts/variables" as var;
@use "sass:math";

@mixin button {
  display: inline-block;
  background-color: var.$accent;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: var.$white;
  font-weight: 600;
  margin: 0.5em 0;
  transition: all 0.2s ease;
  border: 2px solid var.$accent;
}
